* {
  font-family: "Nunito Sans", sans-serif;
}

body {
}

h1 {
  margin: 0rem;
  font-size: 4em;
  font-weight: bolder;
  font-style: italic;
}

h2 {
  margin: 0rem;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bolder;
  font-style: italic;
  color: rgba(2, 112, 241, 255);
}

h3 {
  font-size: x-large;
  font-weight: bold;
}

h4 {
  font-size: large;
}

p {
  font-size: large;
}

a {
  color: rgba(2, 112, 241, 255);
  text-decoration: none;
}

#title {
  padding-top: 4rem;
  animation-name: fadeIn;
  animation-duration: 5s;
}

#non-title-container {
  margin: 4rem;
}

#title-container {
  margin: -1rem;
  padding: 4rem 10rem;
  color: white;
  background-color: rgba(2, 112, 241, 255);
  height: 110%;
  width: 80vw;

}

#title-container > h1,
h2,
h3 {
  margin: 0rem;
}

#title-container > h2 {
  margin: 0rem;
  font-weight: bold;
  font-size: x-large;
  font-style: normal;
  text-transform: none;
  color: white;
}

#title-container > h3 {
  margin: 0rem;
  font-size: large;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  color: white;
}

#title-container > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 60vh;
}

#episodes-excerpts-section {
  height: 240px;
  overflow: scroll;
}

.visualization {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.visualization > div {
  flex: 1;
  margin: 0rem 1rem;
}
.graph {
  flex: 1;
}

.graph-excerpts {
  width: 50%;
  flex: 1;
}

.graph-excerpts > h4 {
  margin-top: 0rem;
}

.excerpts-section {
  height: 400px;
  overflow: scroll;
}

.excerpt {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

#fathers-graph {
  position: relative;
}

.explanation {
  margin: 4rem 18rem;
}

.scrollytelling {
    margin: 4rem 4rem;
    margin-top: -2rem;
}

.scrollytelling-instance {
    display: flex;
    flex-direction: row;
}

.scrollytelling-instance > div {
    flex: 1;
    width: 50%;
    margin: 1rem;

}

.scrollytelling-instance > div > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.tooltip {
  position: absolute;
}

.visualization-container {
  margin: 2rem;
  padding: 2.5rem;
  border-radius: 3%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.visualization-container > h3 {
  margin: 0rem;
  font-size: x-large;
  font-weight: bolder;
}

.visualization-container > p {
  font-size: medium;
}

.details {
  margin: 0rem;
  font-size: medium;
}

.footnote {
  margin: 0rem;
  color: grey;
  font-size: small;
}

.nameImage {
  display: inline;
  margin-left: 0.5rem;
  margin-bottom: -1rem;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.excerptImage {
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.ptLabel {
    font-size: small;
    font-weight: lighter;
}

.red-color {
    color: rgba(240, 0, 0, 1);
    font-weight: bold;
}

.blue-color {
    color: rgba(4, 0, 240, 1);
    font-weight: bold;

}
