* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    padding: 1rem;
}

h1 {
    margin: 0rem;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    color: #0176F2;
}

h2 {
    margin: 0rem;
}

#apologies-visualization {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


#apologies-visualization > div {
    flex: 1;
    margin: 1rem;
}
#apologies-graph {
    flex: 1;
}

#apologies-excerpts {
    width: 50%;
    flex: 1;
}

#excerpts-section {
    height: 20%;
    overflow: scroll;
}

.excerpt {
    border: 1px solid blue;
}

#fathers-graph {
    position: relative;
}

.tooltip {
    position: absolute;
}
